.parallax {
    background-attachment: fixed;
    background-position: center;
}

.latar {
    height: 46rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(./film.jpg);
}

.latar2 {
    height: 33rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.topp {
    position: relative;
    top : 20rem;
}